﻿@using Davydova_Task4_Library.BLL.Interfaces
@model Davydova_Task4_Library.WebUI.Models.BookViewModels.GetBook
@inject IBookLogic _bookLogic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GetBook</h4>
    <hr />
    <dl class="row">
        <dt>Authors:</dt>
        <dd>
            @{
                System.Text.StringBuilder sb = new System.Text.StringBuilder();
                foreach (var author in _bookLogic.GetAuthorsByBookId(Model.Id))
                {
                    Model.Authors.Add(author);
                    sb.Append(author.Name);
                    sb.Append(" ");
                    sb.Append(author.Surname);
                    sb.Append(" ");
                }
                <p>@sb.ToString()</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfPublication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfPublication)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishingHouse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishingHouse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountOfPages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountOfPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Back to list", "Index", "LibraryObject") |
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", "Book", new { id = Model.Id }, null)
</div>
