﻿@model Davydova_Task4_Library.WebUI.Models.Author.CreateAuthor

@{
    ViewData["Title"] = "Default";
}

@Html.AntiForgeryToken()

<h1>Default</h1>

<h4>CreateAuthor</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" data-ajax="true" data-ajax-method="post" asp-action="Create" asp-controller="Author">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js");}
    @{await Html.RenderPartialAsync("~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js");}
}
